thead{
    th{
        font-size: 13px;
        padding: 0;
        padding-right: 3px;
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: center;
    }
}

tbody{
    
    td{
        padding: 0;
        padding-right: 3px;
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: center;
        // width: 2em ;
        select{
            border: 0;
        }
        input{       
            text-align: center;     
            border: 0;
        }
    }
}

.w-5em{
    width: 5em;
}

.leyend{
    p{
        margin-bottom: 0;
    }
}

.invalido{
    border: 1px solid firebrick !important;
}

.routerLink{
    text-decoration-line: none
}
