<nav class="navbar navbar-expand-md navbar-dark bg-dark py-0">
    <div class="container">
        <a class="navbar-brand px-3 rounded-0 btn-dark ml-3" [routerLink]="['/home']" >AEEUC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li *ngIf="site && !id_lv1 && !id_lv2" class="nav-item" routerLinkActive="active" >
                    <a class="nav-link" [routerLink]="[site ]" >App </a>
                </li>

                <li *ngIf="site && id_lv1 && !id_lv2" class="site" routerLinkActive="active" >
                    <a class="nav-link" [routerLink]="[site, id_lv1]" >App </a>
                </li>

                <li *ngIf="site && id_lv1 && id_lv2" class="nav-item" routerLinkActive="active" >
                    <a class="nav-link" [routerLink]="[site, id_lv1, id_lv2]" >App </a>
                </li>
               

                <li class="nav-item here" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/lbe']">Lbe</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/acerca-de']">Acerca de</a>
                </li>
                                         
            </ul>

          
            <span *ngIf="userActive" class="text-white  h6 m-0" > 
                {{userActive}} <span class="text-muted">/</span>
                <span class="close-session " (click)="closeSession()" > Cerrar Sesión </span> 
                <span title="Administar Usuarios" [routerLink]="['/admin']"><i routerLinkActive="active" class=" ml-1 fas fa-cog cursor"  ></i></span> 
            </span>
            
            
            <a  *ngIf="!userActive"  
                class="text-white mr-5 cursor h6 m-0" 
                [ngbPopover]="popContent" 
                #p="ngbPopover"  
                triggers="manual"
                (click)="pop()"               
                placement="bottom">
                
            Iniciar Sesión</a>
           
        </div>
    </div>
</nav>


            
<ng-template #popContent >

    <form (ngSubmit)="login()" [formGroup]="form_login" ngNativeValidate >

        <div class="form-group">
        <label for="inputUsuario">Email</label>
        <input type="email" formControlName="email" class="form-control rounded-0" 
                placeholder="Correo" required>
        <!-- <small id="userlHelp" class="form-text text-muted">Solo usuarios del dominio.</small> -->
        </div>
    
        <div class="form-group">
        <label for="inputPass">Password</label>
        <input type="password" formControlName="pass" class="form-control rounded-0"  
                placeholder="Contraseña" required>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary " > Login </button>
        </div>

        <div *ngIf="error" class="alert alert-danger" > {{error}} </div>

    </form>

</ng-template>