.card{
    height: 13rem;
    max-height: 13rem;
}

.card:hover{
    box-shadow: 6px 5px 32px -6px black;
}

.card-text{
    font-size: 14px;
    // height: 4rem;
    // overflow-y: hidden;   
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
