
th{
    border-bottom: 0 !important;
}

.leyend{
    p{
        margin-bottom: 0;
    }
}

.breadcrumb-item{
    a{
        opacity: 0.7;        
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }    
}

.cursor{
    cursor: pointer;
}

.routerLink{
    text-decoration-line: none
}


.drop{
    &:hover{
        color: #dc3545;
    }
}

input{
    border-radius: 0;
}

.actionEdit{
    color: #17a2b8;
    &:hover{
        color: #0f6875;
    }
}

#up{
    position: fixed;
    bottom: 50px; 
    right: 50px;
    display: none;
    font-size: 4rem;
    color: #333;
    cursor: pointer;
}