<div class="container-fluid">   
  <div class="row" [style.min-height.vh]="100" >
      <div class="col-12 align-self-start">
          
          <!-- MENU DE SESION -->
          <div class="row">
              <div class="col-12 p-0">

                  <app-navbar></app-navbar>
                  
              </div>
          </div>
          
          <!-- HEADER CONTENIDO BASICO -->
          <div class="row bg-light py-5 fadeIn fast">
                <div class="container"> 
                    
                        <h1 class="lighter mb-4 text-center text-capitalize">  sobre la aplicación </h1>
                    
                        <div class="blockText lead rounded-0 pl-4">
                             <p >
                                 <span class="ml-5">Esta</span> es una aplicación web desarrollada conjuntamente entre la Facultad de Ciencia y 
                                 Tecnología y la Facultad de Ingeniería para el Análisis Energético de las Edificaciones 
                                 la cual fue desarrollada por el Lic. Manuel Pinto bajo la guiatura de los 
                                 Profesores Eva Monagas y Alejandro Bolívar. 
                             </p>
                             <p>               
                                 <span class="ml-5">La</span> aplicación busca integrar la situación diagnóstica de las edificaciones 
                                 para determinar la Línea Base Energética y los indicadores energéticos, así como para 
                                 determinar los planes de ahorro.
                             </p>
                             
                             <p>               
                                 <span class="ml-5">La</span> Universidad de Carabobo se complace en apoyar a las Unidades de 
                                 Gestión de Energía a fin de demostrar las condiciones energéticas de las 
                                 edificaciones y demostrar los esfuerzos realizados por el ahorro de energía, 
                                 la conservación de los recursos y el desarrollo sostenible.             
                             </p>                    
                        </div>                        
         
                </div>

            </div>


            <div class="row py-5 fadeIn fast">
                <div class="container">
                        <h4 > Información de Contacto <i class="far fa-address-card h5 m-0"></i> </h4>                        
                        <hr>

                        <div class="d-flex ">

                            <div class="col-3">
                                <p class="m-0"> <strong> Coordinadora del proyecto</strong> </p>
                                <p> <i class="far fa-user "></i> Prof. Eva Monagas</p> 

                                <p class="m-0"> <strong><i class="far fa-paper-plane "></i> Email:</strong> </p>
                                <p>evamonagas@gmail.com</p>

                                <p class="m-0"> <strong><i class="fas fa-mobile-alt "></i> telf:</strong> </p>
                                <p>+58 414-1452619</p>
                            </div>

                            <div class="col-3">
                                <p class="mb-0"> <strong> Desarrollador de la aplicación: </strong> </p>
                                <p> <i class="far fa-user "></i> Manuel Pinto</p>

                                <p class="m-0">  <strong><i class="far fa-paper-plane "></i> Email:</strong>  </p>
                                <p>manurossonero@gmail.com</p>

                                <p class="m-0"> <strong><i class="fas fa-mobile-alt "></i> telf:</strong> </p>
                                <p> 0424-4620699 </p>
                            </div>

                        </div>
                </div>
            </div>

          

          
      </div>
      <footer class="col-12 align-self-end bg-dark">  
          <p class="text-light text-center p-1 mb-0">
              Manuel Pinto <i class="far fa-copyright"></i> 2018
          </p> 
      </footer>
  </div>        
</div>